* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    /* color palette */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);   
    --light-slate-blue: hsl(252, 100%, 67%, 1);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    overflow-y: hidden;
}

.white {
    color: white;
    opacity: 0.6;
}

.gray {
    color: gray;
    opacity: 0.7;
}

.card{
    display: flex;
    flex-direction: column;
}

.left-panel {
    background: linear-gradient(180deg, var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-score-result {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.card-score-container {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    flex-direction: column;
    justify-content: center;
}

.card-score-current {
    font-size: 45px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.card-score-total {
    font-size: 13px;
    margin: 0;
}

.card-score-rating {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-score-description {
    width: 260px;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgb(211, 211, 211);
    text-align: center;
}

.right-panel {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    margin: 0 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 15px;
}

.summary {
    margin: 10px 0;
}

.reaction, .memory, .visual, .verbal {
    display: flex;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 15px ;
    vertical-align: top;
    justify-content: space-between;
    font-weight: 700;
}

.item-box {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

.item-title {
    margin-left: 5px;
}

.item-score {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.item-score-top {
    color: black;
    opacity: 0.8;
}

.reaction {
    color: var(--light-red);
    background-color: hsla(0, 100%, 67%, .1);
}

.memory {
    color: var(--orange-yellow);
    background-color: hsla(39, 100%, 56%, .1);
}

.verbal {
    color: var(--green-teal);
    background-color: hsla(166, 100%, 37%, .1);
}

.visual {
    color: var(--cobalt-blue);
    background-color: hsla(234, 85%, 45%, .1);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    padding: 15px 93px;
    color: white;
    background: hsl(224, 30%, 27%);
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

@media (min-width: 700px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;        
    }
    
    .card {
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10px;
    }
    .summary{
        margin-bottom: 20px;
    }
    .card-score-rating {
        font-size: 25px;
        margin-top: 20px;
    }
    .card-score-description {
        width: 220px;
        margin: 20px 50px 30px 50px;
        font-size: 16px;
        color: rgb(211, 211, 211);
        text-align: center; 
    }
    .left-panel {
        border-radius: 20px;
    }
    .right-panel {
        padding: 20px 20px;
        box-shadow: 5px 5px 10px -8px rgba(0,0,0,0.3);
    }
    button {
        padding: 10px 93px;
        margin-top: 15px;
    }
}